<section data-ng-controller="critereController" data-ng-init="findOne()">
    <div class="panel panel-green">
        <div class="panel-heading">Critere</div>
        <div class="panel-body pan">
          <form data-ng-submit="update()" novalidate>
            <div class="form-body pal">

                   <div class="form-group">
                       <label for="inputName" class="control-label">Title</label>
                       <div class="input-icon right">
                           <i class="fa fa-user"></i>
                           <input id="inputName" type="text" data-ng-model="critere.type" placeholder="Title" class="form-control" />
                       </div>
                   </div>
                    
                   <div class="form-group">
                       <label for="inputName" class="control-label">Ville</label>
                       <div class="input-icon right">
                           <i class="fa fa-user"></i>
                           <input id="inputName" type="text" data-ng-model="critere.ville" placeholder="Ville" class="form-control" />
                       </div>
                   </div>
         
                   <div class="form-group">
                       <label for="inputEmail" class="control-label">Prix Min</label>
                       <div class="input-icon right">
                           <i class="fa fa-envelope"></i>
                           <input id="inputEmail" type="text" data-ng-model="critere.prix_min" placeholder="Prix-min" class="form-control" />
                       </div>
                   </div>
                  
                   <div class="form-group">
                       <label for="inputEmail" class="control-label">Prix Max</label>
                       <div class="input-icon right">
                           <i class="fa fa-lock"></i>
                           <input id="inputEmail" data-ng-model="critere.prix_max" type="text" placeholder="Prix-max" class="form-control" />
                       </div>
                   </div>                   

                <div class="form-group">
                        <label for="inputEmail" class="control-label">Surface Min</label>
                        <div class="input-icon right">
                        <i class="fa fa-lock"></i>
                        <input id="inputConfirmPassword" data-ng-model="critere.surface_min" placeholder="Surface-min" class="form-control" /></div>
                </div> 

                <div class="form-group">
                    <label for="inputEmail" class="control-label">Surface Max</label>
                    <div class="input-icon right">
                        <i class="fa fa-phone"></i>
                        <input id="inputPhone" type="phone" data-ng-model="critere.surface_max" placeholder="Surface-max" class="form-control" />
                    </div>
                </div>
                           
	            <div class="form-actions text-right pal">
                    <button type="submit" class="btn btn-primary">Enregistre</button>
                </div>              
            </div>
           </form>
        </div>
    </div>
</section>