<section data-ng-controller="critereController" data-ng-init="find()">
    <div class="panel panel-green">
       <div class="panel-heading">Criteres</div>
       <div class="panel-body">
           <table class="table table-hover table-bordered">
               <thead>
               <tr>
                   <th>Title</th>
                   <th>Ville</th>
                   <th>Prix</th>
                   <th>Surface</th>
                   <th>Options</th>  
               </tr>
               </thead>
               <tbody>
	               <tr data-ng-repeat="critere in criteres">
	                   
	                   <td>{{critere.type}}</td>
	                   <td>{{critere.ville}}</td>
	                   <td>{{critere.prix_min}} - {{critere.prix_max}}</td>
	                   <td>{{critere.surface_min}} - {{critere.surface_max}}</td>
	                   <td>
	                       <a href="#!/criteres/{{critere.id}}/edit" >
	                       <button class="btn btn-warning btn-edit">Modifier</button>
                           </a>
                           <button class="btn btn-danger btn-delete" data-ng-click="delete(critere);">Supprimer</button> 
                       </td>
	               </tr>
               </tbody>
           </table>
       </div>
   </div>
   <div>
        <a href="#!/criteres/create">
            <button id="btn-add" class="btn btn-primary" ng-click="nouveau()">Nouveau</button>
        </a>
   </div>	
</section>