<section data-ng-controller="annonceController" data-ng-init="findOne()">
    <div class="panel panel-green">
        <div class="panel-heading">Annonce</div>
        <div class="panel-body pan">
          <form data-ng-submit="update()" novalidate>
            <div class="form-body pal">

                   <div class="form-group">
                       <label for="inputName" class="control-label">Description</label>
                       <div class="input-icon right">
                           <i class="fa fa-user"></i>
                           <textarea rows="5" class="form-control" data-ng-model="annonce.description" placeholder="Description"></textarea>
                       </div>
                   </div>
                    
                   <div class="form-group">
                       <label for="inputName" class="control-label">Adresse</label>
                       <div class="input-icon right">
                           <i class="fa fa-user"></i>
                           <input id="inputName" type="text" data-ng-model="annonce.adresse" placeholder="Adresse" class="form-control" />
                       </div>
                   </div>
         
                   <div class="form-group">
                       <label for="inputEmail" class="control-label">Surface</label>
                       <div class="input-icon right">
                           <i class="fa fa-envelope"></i>
                           <input id="inputEmail" type="text" data-ng-model="annonce.surface" placeholder="Surface" class="form-control" />
                       </div>
                   </div>

                   <div class="form-group">
                       <label for="inputEmail" class="control-label">Prix</label>
                       <div class="input-icon right">
                           <i class="fa fa-envelope"></i>
                           <input id="inputEmail" type="text" data-ng-model="annonce.prix" placeholder="Prix" class="form-control" />
                       </div>
                   </div>
                   
                   <div class="form-group">
                       <label for="inputEmail" class="control-label">Ville</label>
                       <div class="input-icon right">
                           <i class="fa fa-envelope"></i>
                           <input id="inputEmail" type="text" data-ng-model="annonce.ville" placeholder="Ville" class="form-control" />
                       </div>
                   </div>

                   <div class="form-group">
                       <label for="inputEmail" class="control-label">Photo</label>
                       <div class="input-icon right">
                           <i class="fa fa-envelope"></i>
                           <input id="inputEmail" type="text" data-ng-model="annonce.photo" placeholder="Photo" class="form-control" />
                       </div>
                   </div>

	            <div class="form-actions text-right pal">
                    <button type="submit" class="btn btn-primary">Enregistre</button>
                </div>                
            </div>
           </form>
        </div>
    </div>
</section>