<section data-ng-controller="annonceController" data-ng-init="find()">
    
    <div class="text-filter-box">
       <div class="input-group">
       <span class="input-group-addon">
          <i class="fa fa-search"></i>
       </span>
       <input data-path=".title" type="text" value="" placeholder="Filter by Ville" data-control-type="textbox" 
              data-control-name="title-filter" data-control-action="filter" 
              class="form-control" ng-model="query" />
      </div>
    </div>
    
    <div class="panel panel-green">
       <div class="panel-heading">Annonces</div>
       <div class="panel-body">
       <div class="box text-shadow">
           <table class="demo-tbl"><!--<item>1</item>-->
               <tr class="tbl-item" data-ng-repeat="annonce in annonces | filter:query " ><!--<img/>-->
                   <td class="img"><img src="/ecommerce/public/images/thumbs/arch-1.jpg" alt="" title=""/></td>
                   <!--<data></data>-->
                   <td class="td-block">
                       <p class="title">{{annonce.ville}}</p>
                       <p class="desc">{{annonce.description}}</p>
                       <p class="like">{{annonce.adresse}}</p>
                       <p class="like">{{annonce.surface}}</p>
                       <p class="like">{{annonce.prix}}</p>
                   </td>
                   <td>
                       <p data-ng-show="(authentication.user)">
		                   <button class="btn btn-primary btn-add" data-ng-click="addPreferes(annonce);">
		                       Add 
		                   </button>
		               </p>
		               <a href="#!/annonces/{{annonce.id}}/view">
		                  <button class="btn btn-primary btn-add" >
		                      Acheter 
		                  </button>
		               </a>
	                   <a href="#!/annonces/{{annonce.personne.mail}}/contact">
		                   <button class="btn btn-primary btn-add">
		                        Contacter 
		                   </button>
	                   </a>		                   
	                   <p data-ng-show="(authentication.user.role.id==1 || authentication.user.id==annonce.personne.id)">
		                 <a href="#!/annonces/{{annonce.id}}/edit">
		                    <button class="btn btn-warning btn-edit">Modifier</button>
	                     </a>
	                     <button class="btn btn-danger btn-delete" data-ng-click="delete(annonce);">
	                       Supprimer
	                     </button>
	                   </p>
	                                     
                   </td>
               </tr>
               <!--<item>2</item>-->
               
           </table>
          <!--END CONTENT-->
          </div>
          </div>
   </div>                 
   <div data-ng-show="(authentication.user)">
        <a href="#!/annonces/create" >
            <button id="btn-add" class="btn btn-primary" ng-click="nouveau()">Nouveau</button>
        </a>
   </div>	
</section>