<section data-ng-controller="roleController">
    <div class="panel panel-green">
        <div class="panel-heading">Rôle</div>
        <div class="panel-body pan">
          <form data-ng-submit="create()" novalidate>
            <div class="form-body pal">

                   <div class="form-group">
                       <label for="inputName" class="control-label">Nom du rôle</label>
                       <div class="input-icon right">
                           <i class="fa fa-user"></i>
                           <input id="inputName" type="text" data-ng-model="nom" placeholder="nom" class="form-control" />
                       </div>
                   </div>
                    
                   <div class="form-group">
                       <label for="inputName" class="control-label">Description</label>
                       <div class="input-icon right">
                           <i class="fa fa-user"></i>
                           <input id="inputName" type="text" data-ng-model="description" placeholder="description" class="form-control" />
                       </div>
                   </div>
   
	            <div class="form-actions text-right pal">
                    <button type="submit" class="btn btn-primary">Enregistre</button>
                </div>                
            </div>
           </form>
        </div>
    </div>
</section>