<section data-ng-controller="roleController" data-ng-init="findOne()">
    <div class="panel panel-green">
        <div class="panel-heading">Role</div>
        <div class="panel-body pan">
          <form data-ng-submit="update()" novalidate>
            <div class="form-body pal">     
                   <div class="form-group">
                       <label for="inputName" class="control-label">Nom</label>
                       <div class="input-icon right">
                           <i class="fa fa-user"></i>
                           <input id="inputName" type="text" data-ng-model="role.nom" placeholder="Nom" class="form-control" />
                       </div>
                   </div>

                   <div class="form-group">
                       <label for="inputName" class="control-label">Description</label>
                       <div class="input-icon right">
                           <i class="fa fa-user"></i>
                           <input id="inputName" type="text" data-ng-model="role.description" placeholder="Description" class="form-control" />
                       </div>
                   </div>

	            <div class="form-actions text-right pal">
                    <button type="submit" class="btn btn-primary">Enregistre</button>
                </div>                
            </div>
           </form>
        </div>
    </div>
</section>