<section data-ng-controller="roleController" data-ng-init="find()">
    <div class="panel panel-green">
       <div class="panel-heading">Roles</div>
       <div class="panel-body">
           <table class="table table-hover table-bordered">
               <thead>
               <tr>
                   <th>#</th>
                   <th>Nom</th>
                   <th>Description</th>
                   <th>Options</th>
               </tr>
               </thead>
               <tbody>
	               <tr data-ng-repeat="role in roles">
	                   <td>{{role.id}}</td>
	                   <td>{{role.nom}}</td>
	                   <td>{{role.description}}</td>
	                   <td>
	                       <a href="#!/roles/{{role._id}}/edit" >
	                       <button class="btn btn-warning btn-edit">Modifier</button>
                           </a>
                           <a href="#!/roles/{{role._id}}">
                              <button class="btn btn-danger btn-delete" data-ng-click="delete();">Supprimer</button> 
                           </a>
                       </td>
	               </tr>
               </tbody>
           </table>
       </div>
   </div>
   <div>
        <a href="#!/roles/create">
            <button id="btn-add" class="btn btn-primary" ng-click="nouveau()">Nouveau</button>
        </a>
   </div>	
</section>