<section data-ng-controller="roleController" data-ng-init="findOne()">
    <div class="panel panel-green">
        <div class="panel-heading">Rôle</div>
        <div class="panel-body pan">
            <div class="form-body pal">

                   <div class="form-group">
                       <label for="inputName" class="control-label">Nom du rôle</label>
                       <div class="input-icon right">
                           <i class="fa fa-user"></i>
                           <label for="inputName" class="control-label">{{role.nom}}</label>
                       </div>
                   </div>
                    
                   <div class="form-group">
                       <label for="inputName" class="control-label">Description</label>
                       <div class="input-icon right">
                           <i class="fa fa-user"></i>
                           <label for="inputName" class="control-label">{{role.description}}</label>
                       </div>
                   </div>
                   
            </div>
        </div>
    </div>
	
</section>